[{:itonami.blueprint/social-impact [:child-safety :caregiver-relief :local-jobs], :itonami.blueprint/domain :care/child-care, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "5311", :itonami.blueprint/name "Independent Child Care Practice", :itonami.blueprint/governor :child-care-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-5311", :itonami.blueprint/license "AGPL-3.0-or-later"}]